import("rgl")

importFrom("Rniftilib", "nifti.image.read", "nifti.image.write",
"nifti.image.new", "nifti.set.filenames")
importFrom("movMF", "movMF")
importFrom("geometry", "delaunayn", "extprod3d", "surf.tri")
importFrom("grid", "rasterGrob")
importFrom("gridExtra", "grid.arrange")
importFrom("gsl", "sinc", "legendre_sphPlm")
importFrom("colorspace", "terrain_hcl")
importFrom("abind", "abind")

export(gqi.odfpeaks,
 gqi.odfvmf,
 rgbvolmap,
 s2tessel.zorder,
 plotglyph,
 gqi.odfvxgrid,
 gqi.odfpeaklines,
 gqi.odfvmflines,
 simulglyph.vmf,
 synthfiberss2z,
 simul.simplefield,
 simul.fandtasia,
 simul.fandtasiaSignal,
 dec,
 sph.odfpeaklines,
 sph.odfpeaks,
 sph.odfvmf,
 sph.odfvmflines,
 sph.odfvxgrid,
 niinorm,
 niisetup
)
